.title{
    text-align: center;
    font-size: 15px;
    color: #212ea0;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0px 30px;

}
.title h2{
    text-transform: none;
    font-size: 32px;
    margin-top: 5px;
    color: #000F38; 
}