.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #212ea0;   
}
.next-btn {
    right: 0;
}
.back-btn{
    left: 0;
    right: auto;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
}
.slider ul li{
    width: 50%;
    list-style: none;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}
.slide img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2.5px solid #212ea0;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3{
    color: #212ea0;
}
.next-btn:hover,
.back-btn:hover {
    background: #212ea0;
    color: #212ea0;
    box-shadow: 0 4px 20px rgba(33, 46, 160, 0.15);
    transform: translateY(-50%) scale(1.12);
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    border: 2px solid #212ea0;
}
@media (max-width: 800px){
    .testimonials{
        padding: 0 40px;
    }
    .next-btn, .back-btn{
        padding: 10px;
        width: 35px;
    }
    .testimonials ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        width: 50px;
        border: 3px solid #212ea0;
    }
}
@media (max-width: 600px){
    .user-info{
        display: block;
        margin-bottom: 15px;
        margin: 10px;
        font-size: 12px;
    }
    .user-info h3{
        font-size: 16px;
    }
    .slide p{
        font-size: 12px;
    }
}